BREVO_API_KEY=

MAYTAPI_PRODUCT_ID=
MAYTAPI_PHONE_ID=
MAYTAPI_API_KEY=

OPENAI_API_KEY=

PAGESPEED_API_KEY=

SUPABASE_URL=
SUPABASE_SERVICE_KEY=

SMS_PROVIDER=twilio
SMS_API_KEY=
SMS_API_SECRET=
SMS_SENDER=
